body,p,ul,ol,dl,dt{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
input{
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}

/*小米顶部样式*/
body{
    font:14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,
    Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
}
.topBar{
    width: 100%;
    height: 40px;
    background-color: #333;
}

.container{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
.topBar_list{
    float: left;
}
.shop{
    float: right;
    width: 120px;
    margin-left: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #424242;
}
.shop a{
    width: 120px;
    height: 40px;
}
.login{
    float: right;
}
.topBar a{
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
    line-height: 40px;
}
.topBar a:hover{
    color: #fff;
}
.topBar span{
    margin: 0.5em;
    color: #424242;
}


/*小米导航栏*/
.header{
    height: 100px;
}
.site_logo{
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site_logo>a{
    display: inline-block;
    width: 56px;
    height: 56px;
}
.site_list{
    float: left;
    width: 850px;
}
.site_list>ul{
    width: 820px;
    height: 88px;
    padding: 12px 0 0 30px;
    font-size: 16px;
}
.site_list>ul>li{
    float: left;
}
.site_category{
    position: relative;
}

/*侧边导航栏*/
.category-list{
    z-index: 2;
    margin-top:20px;
    position: absolute;
    top: 88px;
    left: -92px;
    width: 234px;
    height: 440px;
    background-color: rgba(161, 159, 159,0.8);
}
.category-list>ul{
    width: 234px;
    height: 420px;
    padding: 20px 0;
}
.category-list>ul>li{
    height: 42px;
}
.category-list>ul>li>a{
    letter-spacing: 1px;
    padding-left: 30px;
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    color: white;
    position: relative;
}
.category-list>ul>li>a>span{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
}
.category-list>ul>li>a:hover{
    background-color: #ff6700;
}









.site_list>ul>li>a{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.site_list>ul>li>a:hover{
    color: #ff6700;
}
.site_category>a>img{
    margin-bottom: -40px;
}
.site_category a{

    padding: 0;
}
.site_search{
    float: right;
    width: 296px;
    margin-top: 25px;

}
.site_search form{
    position: relative;
    width: 296px;
    height: 50px;
}
.search-text{
    width: 223px;
    height: 38px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
    float: left;
}
.search-btn{
    background-color: white;
    float: left;
    width: 50px;
    height: 40px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
}
.search_word{
    position: absolute;
    font-size: 12px;
    color: #757575;
    top: 14px;
    right: 65px;
}
.search_word a{
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    background-color: #eee;
}
.search_word a:hover{
    background-color: #ff6700;
    color: #fff;
}
/*小米侧边导航栏*/


/*小米站点内容*/



.site_slider a{
    display: block;
    /*margin-top: 20px;*/
    width:1226px;
}
.site_slider a img{
    margin-top: 20px;
    width: 1226px;
}

.site_slider{
    overflow: hidden;
    width: 1226px;
    height: 460px;
    position: relative;
}
.site_slider ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}
.site_slider ul li{
    z-index: 2;
    float: left;
}



/*.box-img {*/

/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    opacity: 0;*/
/*}*/
/*.box-img:nth-child(1){*/
/*    opacity: 1;*/
/*}*/



.box-left{
    display: none;
    margin-left: 234px;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 70px;
    /*background-color: #00000050;*/
    color: #ccc;
    top: 195px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
}
.box-left:hover{
    background-color: #00000050;
    color: #fff;
}
.box-right{
    display: none;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 70px;
    /*background-color: #00000050;*/
    color: #ccc;
    top: 195px;
    border-radius:5px 0 0 5px;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    right: 0;
}
.box-Chitin ol .current{
    background-color: white;
    opacity: 1;
}
.box-right:hover{
    background-color: #00000050;
    color: #fff;
}
.box-Chitin{
    position: absolute;
    bottom: 30px;
    right: 100px;
}
.box-Chitin>ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box-Chitin>ol>li{
   margin: 0 6px;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgba(204,204,204,0.6);
}
.box-Chitin li:hover{
    background-color: white;
}


.content-sub{
    margin-top: 35px;
}
.sub-channel{
    background:#5f5750;
    float: left;
    width: 234px;
    height: 170px;
}
.sub-channel ul{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}
.sub-channel ul li{
    float: left;
    width: 33.33%;
    height: 85px;
}

.sub-channel ul li a{
    display: block;
    color:rgba(206, 204, 201);
    /*color: rgba(255,255,255,0.7);*/
}
.row-r ul li:hover{
    box-shadow: 0 0 10px 4px #999999;
}
.sub-channel ul li a i{
    display: block;
}

.clearfix::after{
    content: '';
    clear: none;
    display: block;
}

.sub-list{
    float: left;
    width: 992px;
    height: 260px;
}
.sub-list ul{
    width: 100%;
}
.sub-list ul li{
    text-align: right;
    float: left;
    width: 33.33%;
}
.sub-list ul li a{
    display: block;
    height: 170px;
}
.sub-list ul li a img{
    width: 316px;
    height: 170px;
}
.content-banner{
    margin-top: 240px;
    background: rgba(245, 245, 245);
    height: 844px;

}
.container-zon{
    margin: 0 auto;
    height: 150px;
    width: 1226px;
}
.container-ban{


    height: 150px;
    width: 1226px;

}
.container-ban a{

    display: block;
    width: 1226px;
    height: 120px;
}
.container-ban a img{

    margin-top: -30px;
    width: 1226px;
    height: 120px;
}




.content-desc{
    padding-top: 22px;
    background-color: #f5f5f5;
}
.box-hd{
    height: 58px;
    position: relative;
}
.box-hd h2{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.more{
    position: absolute;
    right: 0;
    top: 0;
}
.more a{
    letter-spacing: 2px;
    color:#b0b0b0;
    font-size: 16px;
    line-height: 58px;
}
.box3{
    color: #000;
    height: 23px;
}
.more a i{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    padding: 5px;
    background-color: #b0b0b0;
    color: white;
}
.more:hover a{
    color: #ff6700;
}
.more:hover a i{
     background-color: #ff6700;
 }

.row-l{
    float: left;
    width: 234px;
}
.row-r{
    float: left;
    width: 992px;
}
.row-l a{
    display: block;
    height: 100%;
    width: 100%;
}
.row-l a img{
    width: 234px;
    height: 614px;
}
.row-r ul{
    overflow: hidden;

}
.row-r ul li{
    float: left;
    height: 260px;
    padding: 20px 0;
    background-color: #fff;
    width: 234px;
    position: relative;
    margin-left: 14px;
    margin-bottom: 14px;
}
.figure{
    width: 160px;
    height: 160px;

}
.figure a{
    margin-left: 35px;
    display: block;
}
.figure a img{
    width: 160px;
    height: 160px;
}
.title{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.title a{
    color: #333;
}
.desc{
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    margin: 0 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overline: ellipsis;
}
.price{
    text-align: center;
    color: #ff6700;
}

.flag{

    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 20px;
    background-color: #55a532;
    text-align: center;
    color: white;
    left: 50%;
    margin-left: -32px;
}
/*.container-tow{*/
/*    width: 1226px;*/
/*}*/
/*.box-1{*/
/*    height: 58px;*/
/*}*/
/*.box-1-left{*/
/*    float: left;*/
/*    font-size: 22px;*/
/*    font-weight: 200;*/
/*}*/
/*.box-1-right {*/
/*    float: right;*/
/*    right: 0;*/
/*}*/
/*.box-1-right a{*/
/*    color: #404040;*/
/*}*/
/*.box-1-right h3{*/
/*    font-weight: 600;*/
/*}*/
/*.right-1{*/
/*    margin-right: 10px;*/
/*    float: left;*/
/*}*/
/*.right-2{*/
/*    float: right;*/
/*}*/
/*.box-1-right h3:hover{*/
/*    color: #ff6700;*/
/*}*/
/*.box-2{*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*.box-2-left{*/
/*    width: 234px;*/
/*    float: left;*/
/*}*/
/*.box-2-left a img{*/
/*    width: 234px;*/
/*    height: 614px;*/
/*}*/

/*.box-2-right{*/
/*    width: 992px;*/
/*    float: right;*/
/*}*/



/*.box-left{*/
/*    positions: absolute;*/
/*    width: ;*/
/*}*/


/*.prev{*/
/*    position: absolute;*/
/*    width: 41px;*/
/*    height: 69px;*/
/*    background: url("img/youyingyin1.png");*/
/*}*/



